.bg-blue {
    background: #3079AB;
    color: white;
}
.card-white {
    background: white;
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 180px;
}
h3, h4, p {
    text-align: center;
}
.bigsilver{
    background-color: #D2D2D2;
}
.bg-white {
    background: white;
    color: gray;
}
.m-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.m-5-3 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
